#box {
  width: 80%;
  border: 2px solid black;
  /* border-bottom: none; */
  min-height: 400px;
  text-align: center;
  background-color: #f1f0ee;
}

.workflowPhases {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* border-top: 2px solid black; */
  border-bottom: 2px solid black;
}

.phase {
  width: 100%;
}

.states {
  writing-mode: horizontal-tb;
  /* text-orientation: upright;    */
  margin: auto;
  display: flex;
  flex-flow: column;
  margin-bottom: 10px;
  width: 90%;
}
