#box {
    width: 80%;
    border: 2px solid black;
    margin: auto;
    height: 400px;
    text-align: center;
    background-color: wheat;
    margin-top: 20px;
}

.workflowPhases {
    /* width: 50%; */
    margin: auto;
    width: 20vh;
}