.stateContainer {
  display: flex;
  margin: 10px 3px;
  justify-content: center;
}

.state {
  background-color: #7f7f9a;
  color: white;
  width: 80%;
  min-height: 20vh;
  padding: 10px;
  border-radius: 2%;
  margin: 10px;
  display: flex;
  flex-flow: column;
}

.stateDependencies {
  text-align: left;
  width: 100%;
}

.stateDependencies p,
.stateDependencies span {
  font-size: small !important;
}

/* arrows */
.arrowContainer {
  display: flex;
  flex-flow: column;
  font-size: smaller;
  justify-content: center;
}

.arrow {
  cursor: pointer;
  margin: 3px 0;
}

/* gear icon */
.gear {
  cursor: pointer;
  height: fit-content;
}

.actionSequence {
  display: flex;
  flex-flow: column;
  margin: auto;
  align-items: center;
}
