.action {
  display: flex;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.UIAction {
  background-color: #96b16d;
}

.automaticAction {
  background-color: #a29a9a;
}
