.action {
  display: flex;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.UIAction {
  background-color: #96b16d;
}

.automaticAction {
  background-color: #a29a9a;
}
