.phase {
    /* background-color: green; */
    color: black;
    font-weight: bold;
    /* border-radius: 5%; */
    text-align: center;
    /* width: 65%; */
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    text-decoration: underline;
}